*.suo
*.exe
*.obj
*.tlog
*.log
*.lastbuildstate
*.idb
*.pdb
*.sdf
*.opensdf
*.ilk
proj.android/bin/
proj.android/assets/
CMakeLists.txt.user

log.txt
/proj.win32/Debug.win32
/proj.win32/Release.win32
*.apk
*.o
*.d
/proj.android/obj
/proj.android/libs
proj.win32/Binaries/
proj.win32/Intermediate_Debug.win32/
proj.win32/Intermediate_Release.win32/
Resources/saves/
Backup
Ruler
*.~lock*
