*.suo
*.exe
*.obj
*.tlog
*.log
*.lastbuildstate
*.idb
*.pdb
*.sdf
*.opensdf
*.ilk
log.txt
/source/compiler/Windows/Debug
/source/compiler/Windows/Release

;для очистки
; *.class
; *.cpp
; *.c
; *.txt
; *.project
; *.prefs
; *.xml
; *.java
; *.mk
; *.gitignore
; *.jar
; *.a
; *.dll
; *.lib
; *.gyp
; *.gypi
; *.settings
; *.png
; *.hlsl
; *.inl
; *.am
; *.angle
; *.appxmanifest
; *.bak
; *.bat
; *.cproject
; *.def
; *.filters
; *.frag
; *.in
; *.jpg
; *.ogg
; *.y
; *.vs
; *.vert
; *.vcxproj
; *.vcproj
; *.user
; *.ttf
; *.tga
; *.sln
; *.sh
; *.rtf
; *.rc
; *.py
; *.ps
; *.pri
; *.pfx
; *.pch
; *.pbxproj
; *.patch
; *.mkf
; *.l
; *.cc
